<!DOCTYPE html>
<html>
  <head>
    <title>Choose Your Own</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class = "container">
      <div class = "header" style="margin-top: 10px">
        <div class = "row">
          <div class = "three columns">
            <%= button_to "See All stories", "/stories/", :method => :get %>
          </div>
          <div class = "six columns" style= "text-align: center">
            <h3 style="color: #33C3F0"><%= link_to "Choose Your Own", "/" %></h3>
          </div>
          <div class = "three columns" style="text-align: right">
            <%= button_to "Start a new story", "/stories/new", :method => :get %>
          </div>
        </div>
    	<%= yield %>
	   </div>
  </body>
</html>
